* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
li {
    background-color: tomato;
    margin-bottom: 5px;
}
.abu1 {
    display: block;
    width: 100px;
}
.abu2 li {
    display: inline;
    margin: 7px;
}
.abu3 li  {
    display: inline-block;
    width: 100px;
    padding: 7px;
    margin: 5px;
}
.abu4 li {
    display: none;
}