* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.abu1 {
  float: left;
  background-color: brown;
  text-align: center;
  width: 40%;
  height: 50px;
}
.abu2 {
  float: right;
  background-color: tomato;
  text-align: center;
  width: 40%;
  height: 50px;
}
.abu3 {
  float: none;
  background-color: rgb(235, 76, 76);
  text-align: center;
  width: 100%;

}
.abu4 {
  clear: both;
  background-color: crimson;
  text-align: center;
}
/* RESUMINDO TUDO ISSO É INUTIL */
/* NAO IREI USARRR */