.preto1 {
  text-align: right;
}

.preto {
  text-align: left;
}

.preto2 {
  text-align: center;
}

.preto3 {
  text-align: justify;
}

.abu {
  text-transform: capitalize;
}

.abu1 {
  text-transform: lowercase;
}

.abu2 {
  text-transform: uppercase;
}

.abu3 {
  text-transform: initial;
}

.abu4 {
  text-transform: inherit;
}

.abu5 {
  text-decoration: dashed;
}

.abu6 {
  text-decoration: dotted;
}

.abu7 {
  text-decoration: underline;
}

.abu8 {
  text-decoration: line-through;
}

.abu9 {
  text-decoration: none;
}

.abu9:hover {
  color: tomato;
  text-decoration: underline;
}
.abu10 {
  line-height: 100px;
  letter-spacing: 10px;
  word-spacing: 10px;
}
.abu11 {
  /* 1-x 2-y 3-espesura 4-color */
  text-shadow: 0px 0px 3px blue;
}
.abu12 {
  font-family: Arial, Helvetica, sans-serif;
}

.abu13 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.abu14 {
    font-size: 2em;    
}

.abu15 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.abu16 {
    font-style: italic;
}
