.container {
    background-color: tomato;
}
.container {
    background-color: beige;
}
.container {
    background-color: yellowgreen;
}
p {
    background-color: beige;
}
.preto {
    background-color: aquamarine 
}
#puta {
    background-color: chocolate;
}
p {
    background-color: lightgreen !important;
}
