* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  margin: 30px;
  padding: 10px;
  width: 600px;
  background-color: darkgrey;
  text-align: center;
  border: 6px solid darkcyan;
  border-radius: 6px;
}
.nav {
  background-color: cyan;
  padding: 15px;
  margin: 0 auto;
}
header a {
  margin: 30px;
  padding: 20px;
  text-decoration: none;
}
header a:hover {
  color: darkcyan;
}
header p {
  padding: 10px;
}
header img {
  margin-top: 10px;
}
.rodape {
  padding: 20px;
}