* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2 {
    text-align: center;
    margin: 20px 0 10px 0;
}
.container {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid navy;
}
.container .item {
    background-color: coral;
    color: #fff;
    margin: 5px;
    text-align:center;
}
.shrink-0 {
    flex-shrink: 0;
}
.shrink-1 {
    flex-shrink: 1;
}