.container {
  width: 400px;
  margin: 0 auto;
  background-color: aquamarine;
  border-radius: 8px;
  padding: 20px;
}

select, input{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 6px;
  border-radius: 5px;
  border: 2px;
  border-style: solid;
  border-color: blue;
  
}
h1 {
  text-align: center;
}
button {
  text-align: center;
  background-color: cyan;
  border-radius: 4px;
  width: 100%;
  padding: 6px;
}

textarea {
  width: 100%;
  border: 2px solid blue;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 80px;
}